---
layout: archive
---
<div class="home">
  <ul class="post-list">
    {% for p in site.categories[page.category] %}
    {% if p.header.teaser %}
      {% capture teaser %}{{ p.header.teaser }}{% endcapture %}
    {% else %}
      {% assign teaser = site.teaser %}
    {% endif %}

    {% if p.id %}
      {% assign title = p.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = p.title %}
    {% endif %}
    
    <div class="{{ include.type | default: "list" }}__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
          {% if include.type == "grid" and teaser %}
            <div class="archive__item-teaser">
              <img src=
                {% if teaser contains "://" %}
                  "{{ teaser }}"
                {% else %}
                  "{{ teaser | absolute_url }}"
                {% endif %}
                alt="">
            </div>
          {% endif %}  
          <h2 class="archive__item-title" itemprop="headline">
              {% if p.link %}
                <a href="{{ p.link }}">{{ title }}</a> <a href="{{ p.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
              {% else %}
                <a href="{{ p.url | absolute_url }}" rel="permalink">{{ title }}</a>
              {% endif %}
          </h2>
          {% if p.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
          {% if p.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ p.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
      </article>
    </div>      
    
    {% endfor %}
  </ul>
</div>
