---
layout: archive
---
<section class="page__content" itemprop="text">
<h1 itemprop="headline">Welcome to <i>Comfort for Christians</i>.</h1>
<p itemprop="text">This is the <font color="#7a8288"><a href="/memoirs/">personal</a></font> site of <font color="#7a8288"><a href="/about/">Alec Satin</a></font>, on the web in <font color="#7a8288"><a href="/about-website/">various forms since 2002</a></font>.  Old friends will notice the <font color="#7a8288"><a href="/about-website/#where-are-the-pretty-pictures">absence of most images</a></font>.  The focus is on the words.</p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//alecsatin.us10.list-manage.com/subscribe/post?u=230ecf5f1ccc680bcaf157ab2&amp;id=4532777523" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_230ecf5f1ccc680bcaf157ab2_4532777523" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe to Comfort for Christians Updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

<h2 itemprop="headline">Why do bad things happen?</h2>
<p>Someone once asked the Lord, <i>Who sinned? The man or his parents</i>?</p>
<p>Jesus answered, <i>Neither this man sinned, nor his parents: but that the works of God should be made manifest in him.</i> (John 9:2-3)</p>

<p>No matter what you grapple with in your life, God's grace and goodness can be made manifest in you.  This is his will for <font color="#7a8288"><a href=/biblical-orthodoxy/faith/>all his children</a></font>.

<p>May the things you find here be a help and encouragement to you now and in the future.  -Alec Satin</p>

</section>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
