---
layout: archive
---
<section class="page__content" itemprop="text">
<h1 itemprop="headline">Welcome to <i>Comfort for Christians</i>.</h1>
<h2 itemprop="text"><i>There is no greater comfort than the truth</i>.</h2>
<p itemprop="text">This is the personal site of <font color="#7a8288"><a href="/about/">Alec Satin</a></font>, here to encourage you, on the web in <font color="#7a8288"><a href="/about-website/">various forms since 2003</a></font>.  <font color="#7a8288"><a href="#recent-posts">View recent posts</a></font>, peruse the
<font color="#7a8288"><a href="/writings/">writings</a></font>, <font color="#7a8288"><a href="/songs/">listen to a song</a></font> or <font color="#7a8288"><a href="/cats-dogs-lemurs/">watch a short video of God's creatures</a></font>.

<h2 itemprop="headline">Why do bad things happen?</h2>
<p>Someone once asked the Lord, <i>Who sinned? The man or his parents</i>?</p>
<p>Jesus answered, <i>Neither this man sinned, nor his parents: but that the works of God should be made manifest in him.</i> (John 9:2-3)</p>

<p>No matter what you grapple with in your life, God's grace and goodness can be made manifest in you.  This is his will for <font color="#7a8288"><a href=/beliefs/>all his children</a></font>.

<p>May the things you find here be a help and encouragement to you now and in the future.  -Alec Satin</p>

<script type="text/javascript" src="https://static.mailerlite.com/data/webforms/362117/n0e7l8.js?v3"></script>

</section>
<a name="recent-posts"></a><h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
